.root {
    -fx-font-family: Antonio;
    -fx-font-size: 18;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: -fx-focus-color;
}

.check-box {
    -fx-font-size: 12;
}

#anchor-game {
    -fx-background-image: url("backgrounds/blue-game.png");
}

#anchor-menu {
    -fx-background-image: url("backgrounds/blue.png");
}

#checkbox-label {
    -fx-text-fill: grey;
    -fx-font-size: 15;
}

#minorButton {
    -fx-font-size: 10;
}